body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "RobotoCondensed";;
  src: local("RobotoCondensed"),
    url("./fonts/RobotoCondensed/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
